.ARG~*
tree_height.lua
t.lua
t.m
t2.m
lua-yottadb

build/*
deploy/*
*.o
*.so
*.bak
try
yottadb.lua

.vscode
tasks

tests/mlua.xc

benchmarks/build
benchmarks/*.time
benchmarks/cstrlib.xc
benchmarks/sha2.lua
benchmarks/.qtechng
benchmarks/brocr
benchmarks/brocr.go
