.ARG~*
t.lua
t.m
t2.m
t.c
t
testerror.txt
lua-yottadb
mlua-*.rock

build/*
deploy/*
*.o
*.so
*.bak
try
yottadb.lua

.vscode
tasks

tests/mlua.xc
tests/db.*

benchmarks/build
benchmarks/*.time
benchmarks/cstrlib.xc
benchmarks/sha2.lua
benchmarks/.qtechng
benchmarks/brocr
benchmarks/brocr.go
benchmarks/mlua.xc
benchmarks/zadloop*
benchmarks/[0-9]*
